*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body { 
    background-image: url('./img/suco.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.texto {
  background-color: #e4b313;
  color: rgb(255, 255, 255);
  padding: 20px 150px;
  position: relative;
}
.texto h1 {
  text-align: right;
  font-size: 36px;
}
.texto p {
  text-align: right;
  max-width: 500px;
  margin-left: auto;
  line-height: 1.5;
  font-size: 16px;
}
.botao {
  background-color: #ff6f00;
  color: white;  
  padding: 12px 24px;
  border-radius: 30px;
  margin-top: 20px;
  margin-right: 50px;
  float: right; 
}
.botao:hover {
  background-color: #c98059;
}